<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2133543157-f4v3cd4qj031u5vneehmingemo5rlncs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2133543157-f4v3cd4qj031u5vneehmingemo5rlncs</string>
	<key>API_KEY</key>
	<string>AIzaSyCNpHXq-fyp2QLd6HfGtE-j3oJZE2Oeh6g</string>
	<key>GCM_SENDER_ID</key>
	<string>2133543157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pricelabdemo</string>
	<key>PROJECT_ID</key>
	<string>pricelabdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>pricelabdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2133543157:ios:996f682a0918a689d7ddbc</string>
</dict>
</plist>